<section class="section">
    <h2 class="section--header" id="contact">Contact</h2>
    <p class="section--text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto ut eius maxime? Animi ipsa architecto corrupti eaque alias cum commodi distinctio, vero dolore quidem, iste eos sint odit ut ex!</p>
    <p class="section--text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem quaerat, reprehenderit voluptates asperiores voluptatem architecto consectetur quis pariatur voluptas, nobis saepe placeat laudantium, ullam maiores corporis numquam nesciunt aspernatur! Voluptatum?</p>
</section>