$color--base: #F7F7FF;
$color--main: #577399;
$color--accent__light: #BDD5EA;
$color--accent__dark: #495867;
$color--contrast: #FE5F55;
$color--black: #040A10;
$color--white: #FFFFFF;

$border--rounded: 5px;