$color--base: #f7f7ff;
$color--main: #577399;
$color--accent__light: #bdd5ea;
$color--accent__dark: #495867;
$color--contrast: #fe5f55;
$color--black: #040a10;
$color--white: #ffffff;

$border--rounded: 5px;
