//imports - external
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&display=swap');

//imports - component stylesheets
@import "../app/components/portfolio/portfolio.scss";

// color variables
$color--base: #F7F7FF;
$color--main: #577399;
$color--accent__light: #BDD5EA;
$color--accent__dark: #495867;
$color--contrast: #FE5F55;
$color--black: #040A10;
$color--white: #FFFFFF;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    background-color: $color--white;
    color: $color--black;
    font-family: 'Merriweather', serif;
    line-height: 1.5rem;
}
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header--name {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
    padding: 0.5em;
    border: $color--black 1px solid;
    margin: 2em auto;
}

.navbar--list {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

.navbar--list__item {
    margin: 0 3em;
    font-size: 1.5em;
}

.navbar--list__link {
    color: $color--accent__dark;
    text-decoration: none;

    &:hover {
        color: $color--main;
        font-weight: 500;
    }
}

.section {
    margin: 3em 1em;
    padding: 1.5em;
}

.section--header {
    color: $color--accent__dark;
    margin: 1.2em 0;
}

.intro {
    background-color: $color--accent__light;
    border-radius: 25px;
    margin: 3em 1em;
    display: flex;
    flex-direction: row;
}


.intro--right {
    padding: 1.2em;
}
.intro--section__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    filter: brightness(120%);
}

.intro--section__text{
    font-weight: 200;
}

.intro--section__text:first-of-type {
    padding-bottom: 1.2em;
}

.intro--section__header {
    color: $color--accent__dark;
    margin: 1.2em 0;
}

.footer--text {
    text-transform: uppercase;
    font-size: 0.6em;
    margin: 1em auto;
    padding: 1em;
    text-align: center;
    letter-spacing: .2rem;
}