//modules and variables
@import "./modules/all";

//partials
@import "./partials/base";
@import "./partials/header";
@import "./partials/intro";
@import "./partials/education";
@import "./partials/footer";
@import "./partials/portfolio";
