<header class="header">
    <div class="header--name">Karola Kasprzak</div>
    <nav class="navbar">
        <ul class="navbar--list">
            <li class="navbar--list__item">
                <a class="navbar--list__link" href="#skills">Skills</a>
            </li>
            <li class="navbar--list__item">
                <a class="navbar--list__link" href="#experience">Experience</a>
            </li>
            <li class="navbar--list__item">
                <a class="navbar--list__link" href="#portfolio"> Portfolio</a>
            </li>
            <li class="navbar--list__item">
                <a class="navbar--list__link" href="#contact">Contact</a>
            </li>
        </ul>
    </nav>
</header>
