<div class="section--bgdark">

    <section class="intro">
        <div class="intro--section intro--left">
            <div class="intro--section__img"></div>
            <!-- <img class="intro--section__img" src="../../../assets/profile-pic.jpg" alt="profile picture"> -->
        </div>
        <div class="intro--section intro--right">
            <h2 class="intro--section__header">About Me</h2>
            <p class="intro--section__text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto ut eius maxime? Animi ipsa architecto corrupti eaque alias cum commodi distinctio, vero dolore quidem, iste eos sint odit ut ex!</p>
            <p class="intro--section__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem quaerat, reprehenderit voluptates asperiores voluptatem architecto consectetur quis pariatur voluptas, nobis saepe placeat laudantium, ullam maiores corporis numquam nesciunt aspernatur! Voluptatum?</p>
        </div>
        
    </section>
</div>