.header {
    display: flex;
    flex-direction: column;
    align-items: center;

    .header--name {
        font-family: "Montserrat", sans-serif;
        font-size: 2.5em;
        padding: 0.5em;
        border: $color--black 1px solid;
        margin: 2em auto;
    }
}

.navbar {
    .navbar--list {
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style: none;

        .navbar--list__item {
            margin: 0 3em;
            font-size: 1.5em;

            .navbar--list__link {
                color: $color--accent__dark;
                text-decoration: none;
                padding-bottom: 00.2em;

                &:hover {
                    color: $color--main;
                    font-weight: 500;
                    border-bottom: 2px solid $color--accent__light;
                }
            }
        }
    }
}
