* {
    box-sizing: border-box;
    font-family: "Merriweather", serif;
}

.slideshow--container {
    width: 100%;
    position: relative;
    margin: auto;
}

.hidden {
    display: none !important;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: $color--base;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba($color--black, 0.1);
}

.bar {
    cursor: pointer;
    height: 4px;
    width: 40px;
    margin: 0 2px;
    background-color: $color--base;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.bar:hover {
    background-color: $color--accent__dark;
}

.fade {
    animation-name: fade;
    animation-duration: 1.1s;
}

@keyframes fade {
    from {
        opacity: 0.8;
    }
    to {
        opacity: 1;
    }
}

.slide {
    background-color: $color--accent__light;
    display: flex;
    flex-direction: row;
    height: 620px;
    border-radius: $border--rounded;
}

.slide--section__left {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide--section__right {
    margin: 3em 1.2em;
    padding-left: 3em;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slide--img {
    margin-left: 20px;
    height: 60%;
    margin: 10px auto;
    object-fit: cover;
    border: 2px solid $color--main;
    width: 80%;
    border-radius: $border--rounded;
    box-shadow: -20px 20px $color--accent__dark;
}

.slide--section__buttons {
    margin-top: 0.6em;
}
.slide--section__button {
    border: none;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    width: 35%;
}

.button--dark {
    background-color: $color--main;
    color: $color--white;
    border: 2px solid $color--main;
}

.button--dark:hover {
    background-color: $color--base;
    color: $color--black;
    border: 2px solid $color--main;
}

.button--light {
    background-color: #f9f9f9;
    color: $color--black;
    border: 2px solid $color--main;
}

.button--light:hover {
    background-color: $color--white;
    color: $color--black;
    border: 2px solid $color--main;
}
