<div class="section--bgdark">
    <section class="section">
        <h2 class="section--header" id="portfolio">Portfolio</h2>
        <div class="slideshow--container" id="slideshow--container">
            <div class="slide fade">
                <div class="slide--section slide--section__left">
                    <img
                        class="slide--img"
                        src="http://lorempixel.com/g/500/420/cats/1"
                    />
                </div>
                <div class="slide--section slide--section__right">
                    <div>
                        <h3 class="slide--section__title">#Project Name</h3>
                        <p class="slide--section__text">Project Description</p>
                        <h4 class="slide--section__title">Technologies</h4>
                        <p class="slide--section__text">
                            Frameworks, tools, etc.
                        </p>
                    </div>
                    <div class="slide--section__buttons">
                        <button class="slide--section__button button--dark">
                            Preview
                        </button>
                        <button class="slide--section__button button--light">
                            Github
                        </button>
                    </div>
                </div>
            </div>

            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>

            <div style="text-align: center">
                <span class="bar" onclick="currentSlide(1)"></span>
                <span class="bar" onclick="currentSlide(2)"></span>
                <span class="bar" onclick="currentSlide(3)"></span>
                <span class="bar" onclick="currentSlide(4)"></span>
            </div>
        </div>
    </section>
</div>
