<div class="hide slide fade"  >
    <div class="slide--section slide--section__left">
      <img class="slide--img" src="http://lorempixel.com/g/500/420/cats/1">
    </div>
    <div class="slide--section slide--section__right">
      <div>
        <h3 class="slide--section__title">#Project Name</h3>
        <p class="slide--section__text">Project Description</p>
        <h4 class="slide--section__title">Technologies</h4>
        <p class="slide--section__text">Frameworks, tools, etc.</p>        
      </div>
      <div class="slide--section__buttons">
        <button class="slide--section__button button--dark">Preview</button>
        <button class="slide--section__button button--light">Github</button>
      </div>     
    </div>
  </div>