//imports
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&display=swap');

// color variables
$color--base: #F7F7FF;
$color--main: #577399;
$color--accent__light: #BDD5EA;
$color--accent__dark: #495867;
$color--contrast: #FE5F55;
$color--black: #040A10;
$color--white: #FFFFFF;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    background-color: $color--white;
    color: $color--black;
    font-family: 'Merriweather', serif;
    line-height: 1.5rem;
}
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header--name {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
    padding: 0.5em;
    border: $color--black 1px solid;
    margin: 2em auto;
}

.navbar--list {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

.navbar--list__item {
    margin: 0 3em;
    font-size: 1.5em;
    
    &:hover {
        color: $color--accent__dark;
        font-weight: 500;
 }
}

.section {
    margin: 3em 1em;
    padding: 1.5em;
}

.section--header {
    color: $color--accent__dark;
    margin: 1.2em 0;
}

.intro {
    background-color: $color--accent__light;
    // padding: 1.5em;
    margin: 3em 1em;
    display: flex;
    flex-direction: row;
}

.intro {
    // height: 600px;
}

.intro--section {
    width:50%
}

.intro--right {
    padding: 1.2em;
}
.intro--section__img {
    width: 100%;
    // object-fit: cover;
}

.intro--section__text{
    font-weight: 200;
}

.intro--section__header {
    color: $color--accent__dark;
    margin: 1.2em 0;
}